
PapersBackgroundDemo.xcodeproj/xcuserdata/xcode4.xcuserdatad/xcschemes/PapersBackgroundDemo.xcscheme

PapersBackgroundDemo.xcodeproj/xcuserdata/xcode4.xcuserdatad/xcschemes/xcschememanagement.plist

PapersBackgroundDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata

PapersBackgroundDemo.xcodeproj/project.xcworkspace/xcuserdata/xcode4.xcuserdatad/UserInterfaceState.xcuserstate
